{% extends 'app/base.html' %}
{% load static %}
{% block javascript %}

<script src="{% static 'app/scripts/books.js' %}"></script>
  
{% endblock %}
{% block content %}
  <h1 class="page-header">Balastros</h1>
  <p>
    <button type="button" class="btn btn-primary js-create-book" data-url="{% url 'balastro_create' %}">
      <span class="glyphicon glyphicon-plus"></span>
      Nuevo balastro
    </button>
  </p>
  <table class="table" id="book-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Modelo</th>
        <th>Fabricante</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      {% for balastro in balastros %}
  <tr>
    <td>{{ balastro.pk }}</td>
    <td>{{ balastro.modelo }}</td>
    <td>{{ balastro.fabricante }}</td>
    <td style="width: 180px">
      <button type="button"
              class="btn btn-warning btn-sm js-update-book"
              data-url="{% url 'balastro_update' balastro.pk %}">
        <span class="glyphicon glyphicon-pencil"></span> Editar
      </button>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-book"
              data-url="{% url 'balastro_delete' balastro.pk %}">
        <span class="glyphicon glyphicon-trash"></span> Eliminar
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No existen balastros</td>
  </tr>
{% endfor %}
    </tbody>
      <tfoot>
              <tr>
          <th></th>
          <th><input type="text" style="width:80px" placeholder="Modelo" /></th>
          <th><input type="text" style="width:80px" placeholder="Fabricante" /></th>
             <th></th>
              </tr>
        </tfoot>
  </table>

  <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>
{% endblock %}