{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SAL</title>
    <link href="{% static 'app/content/bootstrap.min.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      
      <!--<script type="text/javascript" src="{% static 'app/scripts/jquery.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'app/scripts/bootstrap.min.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'app/scripts/jquery-ui.js' %}"></script>
<script src="../../static/app/scripts/jquery-3.1.1.min.js"></script>
      <script src="../../static/app/scripts/jquery.dataTables.min.js"></script>-->
      
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      
      <script src="../../static/app/js/jquery.dataTables.min.js"></script>
      <script src="../../static/app/js/dataTables.bootstrap.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>




      <script src="../../static/app/js/dataTables.editor.min.js"></script>
      <script src="../../static/app/js/editor.bootstrap.min.js"></script>
      
      <script type="text/javascript">

          

          $(document).ready(function() {
    // Setup - add a text input to each footer cell
   
 
    // DataTable
              var table = $('#book-table').DataTable(     
							  
              );
 
    // Apply the search
    table.columns().every( function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
              });

} );
      </script>
  
	<style>
.dataTables_wrapper .dataTables_filter {
float: right;
text-align: right;
visibility: hidden;
}

.dataTables_length {
float: right;
text-align: right;
visibility: hidden;
}
</style>
  </head>
  <body>
    {% include 'app/header.html' %}
    <div class="container">
      <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a href="{% url 'fabricante' %}">Fabricante</a></li>
        <li><a href="{% url 'luminarialed' %}">Luminaria LED</a></li>
        <li><a href="{% url 'luminarianoled' %}">Luminaria no LED</a></li>
        <li><a href="{% url 'marcaled' %}">Marca LED</a></li>
        <li><a href="{% url 'marcanoled' %}">Marca no LED</a></li>
        <li><a href="{% url 'modeloled' %}">Modelo LED</a></li>
        <li><a href="{% url 'modelonoled' %}">Modelo no LED</a></li>
        <li><a href="{% url 'nodoled' %}">Nodo LED</a></li>
        <li><a href="{% url 'nodonoled' %}">Nodo no LED</a></li>
        <li><a href="{% url 'balastro' %}">Balastro</a></li>
        <li><a href="{% url 'alerta' %}">Alertas</a></li>
        <li><a href="{% url 'incidente' %}">Incidentes</a></li>
        <li><a href="{% url 'ordenes' %}">Ordenes de Reparación</a></li>
        <li><a href="{% url 'incidentes_reparador' %}">Asignar Reparador</a></li>
        <li><a href="{% url 'material' %}">Materiales</a></li>
        <li><a href="{% url 'incidente_reasignacion' %}">Reasignación Incidentes</a></li>
    </ul>
  </div>
      {% block content %}
      {% endblock %}
    </div>

    {% block javascript %}
        <script src="{% static 'app/scripts/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.min.js' %}"></script>
    {% endblock %}
  </body>
</html>