{% extends 'app/base_tecnico.html' %}
{% load static %}
{% block javascript %}

<script src="{% static 'app/scripts/books.js' %}"></script>
  
{% endblock %}
{% block content %}
  <h1 class="page-header">Incidentes</h1>
  <label >Reparadores</label>
<form method="POST" class="post-form">{% csrf_token %}

  <select class="form-control" id="sel1">
    {% for reparador in reparadores %}
	<option value="{{ reparador.pk }}">{{ reparador.username }}</option>
	{% endfor %}
  </select>
  
  <br/>
  
  <table class="table" id="book-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Falla</th>
        <th>Fecha</th>
        <th>Luminaria</th>
        <th>Relevador</th>
        
          <th></th>
      </tr>
    </thead>
    <tbody>
      {% for incidente in incidentes %}
  <tr>
    <td>{{ incidente.pk }}</td>
    <td>{{ incidente.falla }}</td>
    <td>{{ incidente.fecha }}</td>
    <td>{{ incidente.luminaria }}</td>
    <td>{{ incidente.relevador }}</td>
    <td style="width: 180px">
      <form action="{% url 'incidente_reparador'  %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit"
              class="btn btn-warning btn-sm"
              
        <span class="glyphicon glyphicon-pencil"></span> Asignar
      </button>
        </form>

    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No existen Incidentes</td>
  </tr>
{% endfor %}
    </tbody>
      <tfoot>
              <tr>
          <th></th>
          <th><input type="text" style="width:80px" placeholder="falla" /></th>
          <th><input type="text" style="width:80px" placeholder="fecha" /></th>
          <th><input type="text" style="width:80px" placeholder="luminaria" /></th>          
          <th><input type="text" style="width:80px" placeholder="relevador" /></th>
          <th></th>
              </tr>
        </tfoot>
  </table>

  <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>
</form>
<script>

    
function myFunction() {
    window.open("{% url 'incidente_create' %}", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=300,left=500,width=600,height=600");
}
</script>

{% endblock %}