{% extends 'app/base_tecnico.html' %}
{% load static %}
{% block javascript %}

<script src="{% static 'app/scripts/books.js' %}"></script>
  
{% endblock %}
{% block content %}

<form method="post" action="{% url 'incidente_reasignacion' %}" id="personForm" data-cities-url="{% url 'ajax_load_cities' %}" >
  {% csrf_token %}
  <div class="modal-header">
    
    <h4 class="modal-title">Reasignación de Relevador en Incidentes</h4>
  </div>
  <div class="modal-body">
    {% load widget_tweaks %}

{% for field in form %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% render_field field class="form-control" %}
    {% for error in field.errors %}
      <p class="help-block">{{ error }}</p>
    {% endfor %}
  </div>
{% endfor %}
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_country").change(function () {
      var url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
      var countryId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'country': countryId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>
{% endblock %}    