{% extends 'app/base_tecnico.html' %}
{% load static %}
{% block javascript %}

<script src="{% static 'app/scripts/books.js' %}"></script>
  
{% endblock %}
{% block content %}
  <h1 class="page-header">Incidentes</h1>
  <p>
    <button type="button" class="btn btn-primary" onclick="myFunction()" data-url="{% url 'incidente_create' %}">
      <span class="glyphicon glyphicon-plus"></span>
      Nuevo Incidente
    </button>
  </p>
  <table class="table" id="book-table">
    <thead>
      <tr>
        <th>#</th>
        <th><input type="text" style="width:80px" placeholder="Falla" /></th>
          <th><input type="text" style="width:80px" placeholder="Fecha" /></th>
          <th><input type="text" style="width:80px" placeholder="Luminaria" /></th>
          <th><input type="text" style="width:80px" placeholder="Estado" /></th>
          <th><input type="text" style="width:80px" placeholder="Relevador" /></th>
          <th class="no-sort"></th>
      </tr>
    </thead>
    <tbody>
      {% for incidente in incidentes %}
  <tr>
    <td>{{ incidente.pk }}</td>
    <td>{{ incidente.falla }}</td>
    <td>{{ incidente.fecha }}</td>
    <td>{{ incidente.luminaria }}</td>
    {% if incidente.estado == 'a' %}
		<td>Arreglado</td>
	{% elif incidente.estado == 'e' %}
		<td>En reparacion</td>
	{% else %}
		<td>Pendiente</td>
	{% endif %}
    <td>{{ incidente.relevador }}</td>
    <td style="width: 180px">
      <button type="button" 
              class="btn btn-warning btn-sm js-update-book"
              data-url="{% url 'incidente_update' incidente.pk %}">
        <span class="glyphicon glyphicon-pencil"></span> Editar
      </button>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-book"
              data-url="{% url 'incidente_delete' incidente.pk %}">
        <span class="glyphicon glyphicon-trash"></span> Eliminar
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No existen Incidentes</td>
  </tr>
{% endfor %}
    </tbody>
  </table>

  <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>

<script>

    
function myFunction() {
    window.open("{% url 'incidente_create' %}", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=25,left=400,width=600,height=600");
}

$('#modal-book').on('hidden.bs.modal', function () {
    location.reload();
});


</script>

{% endblock %}