{% extends 'app/base_tecnico.html' %}
{% load static %}
{% block javascript %}

<script src="{% static 'app/scripts/books.js' %}"></script>
  
{% endblock %}
{% block content %}
  <h1 class="page-header">Incidentes</h1>
  <table class="table" id="book-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Falla</th>
        <th>Fecha</th>
        <th>Luminaria</th>
        <th>Estado</th>
        <th>Relevador</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      {% for incidente in incidentes %}
  <tr>
    <td>{{ incidente.pk }}</td>
    <td>{{ incidente.falla }}</td>
    <td>{{ incidente.fecha }}</td>
    <td>{{ incidente.luminaria }}</td>
    {% if incidente.estado == 'a' %}
		<td>Arreglado</td>
	{% elif incidente.estado == 'e' %}
		<td>En reparacion</td>
	{% else %}
		<td>Pendiente</td>
	{% endif %}
    <td>{{ incidente.relevador }}</td>
    <td style="width: 180px">
      <button type="button" 
              class="btn btn-warning btn-sm js-update-book"
              data-url="{% url 'incidente_material_update' incidente.pk %}">
        <span class="glyphicon glyphicon-pencil"></span> Editar
      </button>
      
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No existen Incidentes</td>
  </tr>
{% endfor %}
    </tbody>
      <tfoot>
              <tr>
          <th></th>
          <th><input type="text" style="width:80px" placeholder="falla" /></th>
          <th><input type="text" style="width:80px" placeholder="fecha" /></th>
          <th><input type="text" style="width:80px" placeholder="luminaria" /></th>
          <th><input type="text" style="width:80px" placeholder="estado" /></th>
          <th><input type="text" style="width:80px" placeholder="relevador" /></th>
		  <th></th>
              </tr>
        </tfoot>
  </table>

  <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>

<script>



</script>

{% endblock %}