{% extends "app/base.html" %}
{% block title %}
    Homepage - {{ block.super }}
	
{% endblock title %}
{% load static %}
{% block javascript %}

<script src="{% static 'app/scripts/books.js' %}"></script>
  <script>

    


</script>
{% endblock %}
{% block content %}
	<h2>Incidentes Abiertos que tiene Asignado</h2>
    {% for incidente in incidentes %}
    {% if incidente.estado != 'a' %}
    {% if incidente.relevador.pk == user.pk %}

    {% if incidente.alerta.grado_criticidad == "a" %}
	<div class="alert alert-danger">Falla: {{ incidente.falla }} - Luminaria: {{ incidente.luminaria }} - Descripcion: {{ incidente.descripcion }} </div>
	{% else %}
	<div class="alert alert-warning">Falla: {{ incidente.falla }} - Luminaria: {{ incidente.luminaria }} - Descripcion: {{ incidente.descripcion }} </div>
	{% endif %}

	{% endif %}
    	{% endif %}	
    {% endfor %}
	
	{% for incid in incidentes_reparador %}
	
    {% if incid.usuario.pk == user.pk %}
	
	{% for i in incid.incidente.all %}
		{% if i.estado != 'a' %}
		<div class="alert alert-info">REPARAR: Falla: {{ i.falla }} - Luminaria: {{ i.luminaria }} - Descripcion: {{ i.descripcion }} 
		<button type="button" 
              class="btn btn-warning btn-sm" onclick="javascript:window.open('{% url 'incidente_material_update' i.pk  %}', '_blank', 'toolbar=yes,scrollbars=yes,resizable=yes,top=25,left=400,width=600,height=600')"
			  >
        <span class="glyphicon glyphicon-pencil"></span> Asignar Materiales
      </button>
		</div>
		{% endif %}		
	{% endfor %}
    

	{% endif %}
    	
    {% endfor %}
	
{% endblock content %}

<script>

    

</script>