{% extends "app/base.html" %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}
{% block content %}
	<h2>Incidentes Abiertos que tiene Asignado</h2>
    {% for incidente in incidentes %}

    {% if incidente.relevador.pk == user.pk %}

    {% if incidente.alerta.grado_criticidad == "a" %}
	<div class="alert alert-danger">Falla: {{ incidente.falla }} - Luminaria: {{ incidente.luminaria }} - Descripcion: {{ incidente.descripcion }} </div>
	{% else %}
	<div class="alert alert-warning">Falla: {{ incidente.falla }} - Luminaria: {{ incidente.luminaria }} - Descripcion: {{ incidente.descripcion }} </div>
	{% endif %}

	{% endif %}
    	
    {% endfor %}

{% endblock content %}
