{% extends 'app/base_tecnico.html' %}
{% load static %}
{% block javascript %}

<script src="{% static 'app/scripts/books.js' %}"></script>
  
{% endblock %}
{% block content %}
  <h1 class="page-header">Luminaria LED</h1>
  <p>
    <button type="button" class="btn btn-primary js-create-book" data-url="{% url 'luminarialed_create' %}">
      <span class="glyphicon glyphicon-plus"></span>
      Nueva luminaria LED
    </button>
  </p>
  <table class="table" id="book-table">
    <thead>
      <tr>
        <th>#</th>
        <th>identificador</th>
        <th>modeloLampara</th>
        <th>estado</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      {% for luminarialed in luminarialeds %}
  <tr>
    <td>{{ luminarialed.pk }}</td>
    <td>{{ luminarialed.identificador }}</td>
    <td>{{ luminarialed.modeloLampara }}</td>
    <td>{{ luminarialed.estado }}</td>
    <td style="width: 180px">
      <button type="button"
              class="btn btn-warning btn-sm js-update-book"
              data-url="{% url 'luminarialed_update' luminarialed.pk %}">
        <span class="glyphicon glyphicon-pencil"></span> Editar
      </button>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-book"
              data-url="{% url 'luminarialed_delete' luminarialed.pk %}">
        <span class="glyphicon glyphicon-trash"></span> Eliminar
      </button>
      <button type="button"
      class="btn btn-danger btn-sm js-update-book"
      data-url="{% url 'marcadorCreate' %}">
      <span class="glyphicon glyphicon-trash"></span> AGREGAR UBICACION
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No existen luminarias</td>
  </tr>
{% endfor %}
    </tbody>
      <tfoot>
              <tr>
          <th></th>
          <th><input type="text" style="width:80px" placeholder="identificador" /></th>
          <th><input type="text" style="width:80px" placeholder="modelo" /></th>
          <th><input type="text" style="width:80px" placeholder="estado" /></th>
            <th></th>
              </tr>
        </tfoot>
  </table>

  <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>
{% endblock %}