<!doctype html>
<html>
  <head>
    <style>
      #map {
        width: 400px;
        height: 400px;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    

    {% load static %}
    {% block content %}
    <h1>Agregar Ubicacion</h1>
    <form method="post" action="{% url 'luminarianoled_create' %}" class="js-book-create-form">
    <div class="form-group{% if field.errors %} has-error{% endif %}">
      {% csrf_token %}
        <label>Luminaria: {{ marcadores_lumLed.marcador.pk }}</label><br>
        <label id="lat">Lat: </label><br>
        <label id="lng">Long: </label><br>
        <button type="submit" class="save btn btn-default">Guardar</button>
        </div>
    </form>
    {% endblock %}
    {% block javascript %}
        <!-- BOOTSTRAP -->
      <!-- <script src="{% static 'app/scripts/books.js' %}"></script> -->
        <!-- Google Maps JS API -->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZV_LytvDeskgj2js3uUmGHPzwrS3RKOs"></script>
        <!-- GMaps Library -->
      <script src="{% static 'app/scripts/gmaps.js' %}"></script>
      <script>
          var mapObj = new GMaps({
          el: '#map',
          lat: 48.857,
          lng: 2.295,
          click: function(e) {
            mapObj.removeMarkers();
          },
          zoom_changed: function(e) {
            alert('You zoomed the map');
          }
        });

        var m = mapObj.addMarker({
          lat: 48.8583701,
          lng: 2.2944813,
          title: 'Eiffel Tower',
          infoWindow: {
            content: '<h4>Eiffel Tower</h4><div><li>hola </li> </div><div>Paris, France</div>',
            maxWidth: 100
          }
        });
        </script>
    {% endblock %}
  </body>
</html>