<style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #description {
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
    }
  
    #infowindow-content .title {
      font-weight: bold;
    }
  
    #infowindow-content {
      display: none;
    }
  
    #map #infowindow-content {
      display: inline;
    }
  
    .pac-card {
      margin: 10px 10px 0 0;
      border-radius: 2px 0 0 2px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      outline: none;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      background-color: #fff;
      font-family: Roboto;
    }
  
    #pac-container {
      padding-bottom: 12px;
      margin-right: 12px;
    }
  
    .pac-controls {
      display: inline-block;
      padding: 5px 11px;
    }
  
    .pac-controls label {
      font-family: Roboto;
      font-size: 13px;
      font-weight: 300;
    }
  
    #pac-input {
      background-color: #fff;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      margin-left: 12px;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 400px;
    }
  
    #pac-input:focus {
      border-color: #4d90fe;
    }
  
    #title {
      color: #fff;
      background-color: #4d90fe;
      font-size: 25px;
      font-weight: 500;
      padding: 6px 12px;
    }
  </style>
  
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=INGRESATUCLAVEAQUI&libraries=places"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>


<script>
    $(document).ready(function() {
        var latlng = new google.maps.LatLng(-34.54206521138594,-58.72301568950195);
        var mapOptions = {
            zoom: 12,
            center: latlng,
            mapTypeControl: false,
            navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
            mapTypeId: google.maps.MapTypeId.ROADMAP 
        };
        map = new google.maps.Map($('.map')[0], mapOptions);
        marcadores = [];
        aux = 0;
        {% for marcador in marcadores.all %}
                latlng = new google.maps.LatLng("{{ marcador.lat }}", "{{ marcador.lng }}");
                var image;
                var tipo = "{{marcador.luminaria.identificador}}"                
                cortado = tipo.split("_")

                //si falla
                if ( "{{marcador.luminaria.estado}}" == "d")
                {
                    image = {
                    url: 'https://www.dropbox.com/s/kvg50x1vw24wvyu/bombilla.png?dl=1',
                    // This marker is 20 pixels wide by 32 pixels high.
                    size: new google.maps.Size(32, 32),
                    // The origin for this image is (0, 0).
                    origin: new google.maps.Point(0, 0),
                    // The anchor for this image is the base of the flagpole at (0, 32).
                    anchor: new google.maps.Point(0, 0)
                  };
                }
                else 
                {
                  //si la estan arreglando
                  if ( "{{marcador.luminaria.estado}}" == "r")
                {
                    image = {
                    url: 'https://www.dropbox.com/s/tojucqlw4aexz4j/destornillador-y-llave-inglesa-cruzados.png?dl=1',
                    // This marker is 20 pixels wide by 32 pixels high.
                    size: new google.maps.Size(32, 32),
                    // The origin for this image is (0, 0).
                    origin: new google.maps.Point(0, 0),
                    // The anchor for this image is the base of the flagpole at (0, 32).
                    anchor: new google.maps.Point(0, 0)
                  };
                }
                else 
                { 
                  //si funciona correctamente
                  image = {
                  url: 'https://www.dropbox.com/s/uzrda2zurze6zkr/lampara.png?dl=1',
                  // This marker is 20 pixels wide by 32 pixels high.
                  size: new google.maps.Size(32, 32),
                  // The origin for this image is (0, 0).
                  origin: new google.maps.Point(0, 0),
                  // The anchor for this image is the base of the flagpole at (0, 32).
                  anchor: new google.maps.Point(0, 0)
                  };
                }  
                }
                if ( cortado[0] == "LAMP" & cortado[1] == "LED")
                {
                  var titulo = "{{ marcador.luminaria.identificador }} Estado:{{marcador.luminaria.estado}} <LED>"
                }
                  else 
                {
                  var titulo = "{{ marcador.luminaria.identificador }} Estado:{{marcador.luminaria.estado}} <NO_LED>"
                }
                marcadores.push(new google.maps.Marker({
                position: latlng,
                map: map,
                animation: google.maps.Animation.DROP,
                icon: image,
                title:titulo,
                }) 
                );
                /*
                marcadores[aux].addListener('click', function() {
                map.setZoom(8);
                map.setCenter(marcadores[aux].getPosition());
                });
                aux = aux + 1;
                */ 
        {% endfor %}
    });
</script>

{% block content %}
{% csrf_token %}
 <div class="pac-card" id="pac-card">
    <div id="title">
      <label>Ver Luminarias</label>
    </div>
  <div class="map" style="height: 100%;"></div>
{% endblock %}