{% extends 'app/base_sin_header.html' %}
{% load static %}
{% block javascript %}

<script src="{% static 'app/scripts/books.js' %}"></script>
  
{% endblock %}
{% block content %}

<form method="post" action="{% url 'material_create' %}" class="js-book-create-form" data-cities-url="{% url 'ajax_load_luminarias' %}" novalidate>
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Nuevo Material</h4>
  </div>
  <div class="modal-body">
    {% load widget_tweaks %}

{% for field in form %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% if field.label == 'Falla' %}
      
      {% render_field field class="form-control" %}      
      <button type="button" class="btn btn-default btn-sm js-create-book" data-url="{% url 'falla_create' %}">
          <span class="glyphicon glyphicon-plus"></span> Agregar Falla
        </button>
      
    {% else %}
      {% render_field field class="form-control" %}
    {% endif %}

    
    {% for error in field.errors %}
      <p class="help-block">{{ error }}</p>
    {% endfor %}
  </div>
{% endfor %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>

<div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>

<script>
  window.onunload = refreshParent;
    function refreshParent() {
        window.opener.location.reload();
    }
    $(function() {
      $( "#id_fecha" ).datepicker();
    });


    </script>

{% endblock %}    