{% extends 'app/base.html' %}
{% load static %}
{% block javascript %}
<script src="{% static 'app/scripts/books.js' %}"></script>
{% endblock %}
{% block content %}
  <h1 class="page-header" style="width:100%">Usuarios</h1>
  <p>
    <button type="button" class="btn btn-primary js-create-book" data-url="{% url 'usuario_create' %}">
      <span class="glyphicon glyphicon-plus"></span>
      Nuevo Usuario
    </button>
  </p>
  <table class="table" id="book-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Usuario</th>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Activo</th>
        <th>Email</th>
        <th>Roles</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
  <tr>
    <td>{{ usuario.pk }}</td>
    <td>{{ usuario.username }}</td>
    <td>{{ usuario.last_name }}</td>
    <td>{{ usuario.first_name }}</td>
    {% if usuario.is_active %}
      <td>ACTIVO</td>
    {% else %}
      <td>INACTIVO</td>
    {% endif %}
    <td>{{ usuario.email }}</td>
      <td>
          {% for rol in usuario.roles.all %}
            {{ rol.nombre }} <br> 
          {% endfor %}
      </td>
    <td style="width: 180px">
      <button type="button"
              class="btn btn-warning btn-sm js-update-book"
              data-url="{% url 'usuario_update' usuario.pk %}">
        <span class="glyphicon glyphicon-pencil"></span> Editar
      </button>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-book"
              data-url="{% url 'usuario_delete' usuario.pk %}">
        <span class="glyphicon glyphicon-trash"></span> Eliminar
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No hay Usuarios</td>
  </tr>
{% endfor %}
    </tbody>
      <tfoot>
            <tr>
                <th></th>
        <th></th>
        <th><input type="text" style="width:80px" placeholder="Usuario" /></th>
        <th></th>
        <th></th>
        <th><input type="text" style="width:80px" placeholder="Email" /></th>
        <th><input type="text" style="width:80px" placeholder="Roles" /></th>
          <th></th>
            </tr>
        </tfoot>
  </table>

  <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>
{% endblock %}