{% extends 'app/base.html' %}
{% block content %}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a href="{% url 'fabricante' %}">Fabricante</a></li>
        <li><a href="{% url 'luminarialed' %}">Luminaria LED</a></li>
        <li><a href="{% url 'luminarianoled' %}">Luminaria no LED</a></li>
        <li><a href="{% url 'marcaled' %}">Marca LED</a></li>
        <li><a href="{% url 'marcanoled' %}">Marca no LED</a></li>
        <li><a href="{% url 'modeloled' %}">Modelo LED</a></li>
        <li><a href="{% url 'modelonoled' %}">Modelo no LED</a></li>
        <li><a href="{% url 'nodoled' %}">Nodo LED</a></li>
        <li><a href="{% url 'nodonoled' %}">Nodo no LED</a></li>
        <li><a href="{% url 'balastro' %}">Balastro</a></li>
        <li><a href="{% url 'alerta' %}">Alertas</a></li>
        <li><a href="{% url 'incidente' %}">Incidentes</a></li>
        <li><a href="{% url 'ordenes' %}">Ordenes de Reparación</a></li>
        <li><a href="{% url 'incidentes_reparador' %}">Asignar Reparador</a></li>
        <li><a href="{% url 'material' %}">Materiales</a></li>
        <li><a href="{% url 'incidente_reasignacion' %}">Reasignación Incidentes</a></li>
    </ul>
</div>
{% endblock %}