{% extends 'app/base.html' %}

{% block content %}
<div>
    <h3> Bienvenido a la ventana de Administrador!</h3>
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a href="{% url 'agregarMarcaLED' %}">MARCA-LED</a></li>
        <li><a href="{% url 'agregarModeloLED' %}">MODELO-LED</a></li>
        <li><a href="{% url 'agregarLuminaria_LED' %}">LUMINARIA-LED</a></li>
        <li><a href="{% url 'agregarNodo_LED' %}">NODOS-LED</a></li>
        <li><a href="{% url 'agregar_nodo_luminaria_led' %}">NODO LED A GRUPO LUM</a></li>
        <li><a href="{% url 'agregarGrupo' %}">GRUPO LUMINARIAS</a></li>
        <li><a href="{% url 'agregar_observador_grupo_led' %}">OBSERVADOR-GRUPO</a></li>
        <li><a href="{% url 'agregar_tecnico_grupo_led' %}">TECNICO-GRUPO</a></li>
    </ul>
{% endblock %}